body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* File: font.css */
@font-face {
  font-family: "AthenaRustic";
  src: local("AthenaRustic"), url("./fonts/Athena-Rustic.woff2") format("woff2");
}

@font-face {
  font-family: "AthenaRusticItalic";
  src: local("AthenaRusticItalic"), url("./fonts/AthenaRusticItalic-L3GZW.woff2") format("woff2");
}

@font-face {
  font-family: "BreakfastDistressed";
  src: local("BreakfastDistressed"), url("./fonts/Breakfast-Distrassed.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #142432;
}

.main-cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
  min-height: 100vh;
}

section {
  width: 100%;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.default-loader {
  display: grid;
  place-items: center;
  animation: defaultLoaderAnim infinite 6s linear;
}

@keyframes defaultLoaderAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.default-loader img {
  width: 130px;
  height: auto;
}
